div.jumbotron.Carousel-Services {
  color: #fff;
  text-align: center;
}

div.jumbotron.Services-Index {
  background: url("../../assets/img/Index/Index-Header-.jpg") center / cover no-repeat fixed;
}

div.jumbotron.Services-Hosting {
  background: url('../../assets/img/Index/Services-Hosting.jpg') center/ cover no-repeat fixed;
}

div.jumbotron.Services-Content {
  background: url('../../assets/img/Index/Services-Content.jpg') center/ cover no-repeat fixed;
}

div.jumbotron.Services-Development {
  background: url('../../assets/img/Index/Services-Development-2.jpg') center/ cover no-repeat fixed;
}

div.jumbotron.Services-Support {
  background: url('../../assets/img/Index/Services-Support.jpg') center/ cover no-repeat fixed;
}

